In [ ]:
# Install libraries

%%capture

! pip install gdown

In [ ]:
# Upload the dataset

%%capture

! rm -rf *
# ! gdown --id 
! unzip travel_insurance.zip
! rm travel_insurance.zip

In [ ]:
# Import libraries

%%capture

import numpy as np
import pandas as pd
import pickle
from pathlib import Path

In [ ]:
# Set Variables

data_dir = Path("travel_insurance")
train_file = data_dir/"train.csv"

In [ ]:
df = pd.read_csv(train_file)
df

       Customer Id  Age  ... EverTravelledAbroad TravelInsurance
0     3JUN0VW6F043   34  ...                  No              No
1     VLHY2ABIR4QL   28  ...                  No              No
2     6E3F7UNXYNFF   28  ...                  No              No
3     JJ8R0ZRYWR31   32  ...                  No              No
4     2WGFUEX6IEHM   34  ...                  No              No
...            ...  ...  ...                 ...             ...
1585  W9JDK752JWHA   29  ...                  No              No
1586  2JEE5P5T9MT0   34  ...                 Yes              No
1587  797K83M5QWO2   34  ...                  No              No
1588  8V9QYC8TCCMF   33  ...                  No              No
1589  8VEME4MXPTBC   28  ...                  No              No

[1590 rows x 10 columns]

#**Q1**
 تعداد سطر و ستون

In [ ]:
print(f"{df.shape[0]} {df.shape[1]}")

1590 10

#**Q2**
متوسط درآمد؟

In [ ]:
print(int(df["AnnualIncome"].mean()))

928553

#**Q3**
چند نفر از مشتریان سابقه سفر خارجی داشته اند؟

In [ ]:
len(df[df['EverTravelledAbroad'] == 'Yes'])

302

#**Q4**
افراد در این دیتاست بیشتر در بخش خصوصی به کار گرفته شده اند و یا بیشتر در بخش دولتی، و بیشترین بخش شغل، چند درصدش رو تشکیل میده؟

In [ ]:
df["Employment Type"].value_counts()

Private Sector/Self Employed    1155
Government Sector                435
Name: Employment Type, dtype: int64

In [ ]:
print(np.round(df["Employment Type"].value_counts().iloc[0] / len(df) * 100, 2))

72.64

#**Q5**
چند درصد از افرادی که بیماری زمینه ای دارند خودشان را بیمه میکنند؟

In [ ]:
print(np.round(len(df[(df['ChronicDiseases'] == 1) & (df['TravelInsurance'] == 'Yes')]) / len(df[df['ChronicDiseases'] == 1]) * 100, 2))

37.53